# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings

# Packages
*.jar
*.war
*.ear


# Maven build files
target
reports

# ARQ tests
arq-perf

# PMD
.pmd

# Merge files
*.orig

# Log files
*.log
# backup files
*~
# idea
*.iml
.idea

# TAF output
test-output/
tmp/

# Checkstyle files
*.checkstyle


